*
{
  padding: 0;
  margin: 0;
}

.link-style-disabled
{
  text-decoration: none;
}

.list-dot-disabled
{
  list-style-type: none;
  display: inline-block;
  padding-right: 87px;
}

.menu
{
  max-width: 1780px;
  max-height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding-top: 29px;
  padding-right: 190px;
  padding-left: 122px;
}

.menu_wrapper
{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 619px;
}

.menu__logo
{
  max-width: 203px;
  top: 38px;
  padding-left: 34px;
  padding-bottom: 2px;
}

.menu__item
{
  font: 500 16px/1 'Montserrat', sans-serif;
  color: #000;
}


.menu__item-last
{
  padding-right: 57px;
}

.menu__button
{
  max-width: 250px;
  padding-right: 19px;
  padding-left: 23px;
}

.button
{
  background-color: #05090C;
  border-radius: 4.59px;
  border: 1px solid;
  text-align: center;
}

.button_size
{
  max-height: 55px;
}

.button__text
{
  text-decoration: none;
  font: 600 16px/0.84 'Montserrat', sans-serif;
  color: #fff;
  padding: 20px;
  padding-left: 16px;
}

.main-block
{
  max-width: 1598px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 43px;
}

.main-block__heading
{
  font: 600 100px/1.22 'Montserrat', sans-serif;
  color: #000;
  padding-top: 180px;
}

.block__heading_color
{
  color: #EE58B6;
}

.main-block__text
{
  font: 400 26px/1.2 'Roboto Condensed', sans-serif;
  color: #4D4D4D;
  max-width: 545px;
  padding-top: 4.7px;
  margin-top: 15px;
}

.main-block__button
{
  margin-top: 46px;
  max-width: 329px;
}

.main-picture
{
  max-width: 762px;
  padding: 30px 63px 65px 0;
}

.middle-wrapper
{
  max-width: 1136px;
  margin: auto;
  justify-content: space-between;
}

.intro
{
  background-color: #000;
  max-height: 398px;
  display: flex;
  justify-content: center;
}

.intro__text
{
  font: 400 22px/1.2 'Roboto Condensed', sans-serif;
  color: #FFF;
}

.black-background__text_left
{
  max-width: 286px;
}

.black-background__text_center
{
  max-width: 337px;
}

.black-background__text_right
{
  max-width: 293px;
}

.black-background__second-icon
{
  max-width: 135px;
}

.intro__part
{
  text-align: center;
}

.intro__parts
{
  display: flex;
  flex-wrap: wrap;
  max-width: 1136px;
  margin: auto 0 155px 0;
  text-align: center;
}

.notime-section__notime-text
{
  margin-top: 225px;
}

.deadline-section__deadline-text
{
  margin-top: 283px;
}

.notime-section
{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.deadline-section
{
  display: flex;
  justify-content: space-between;
}

.section__heading
{
  font: 500 48px/1.26 'Montserrat', sans-serif;
  color: #000;
  margin-top: 48px;
}

.section__heading_youcan{
  padding-top: 53px;
  padding-right: 8px;
  text-align: center;
}


.section__text
{
  font: 400 18px/1.35 'Roboto Condensed', sans-serif;
  color:#4D4D4D;
  margin-top: 26px;
}

.section__all-texts
{
  text-align: left;
  max-width: 574px;
}

.section__picture
{
  max-width: 510px;
  max-height: 476px;
  margin-top: 64px;
}

.section__picture-mind
{
  padding-top: 44px;
}

.blocks
{
  margin-top: 57px;
  margin-bottom: 259px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block
{
  width: 358px;
  height: 191px;
  background-color: #000;
  border-radius: 7px;
  margin-bottom: 29px;
  text-align: center;
}

.block__inside
{
  max-width: 282px;
  margin: auto;
}

.block__text
{
  font: 400 18px/1 'Roboto Condensed', sans-serif;
  text-align: left;
  color: #FFF;
  position: relative;
  max-width: 282px;
  margin-top: 24px;
}

.block_three
{
  max-width: 238px;
}

.block_four
{
  max-width: 262px;
}

.block_five
{
  max-width: 213px;
}

.block__icon
{
  text-align: left;
  display: block;
  margin-top: 32px;
  margin-top: 32px;
}

.footer
{
  background-color: #000;
  text-align: center;
}

.footer__logo
{
  padding: 29px 33px 27px 0;
}

.black-background__icon
{
  padding-top: 114px;
}

.black-background
{
  background-color: #000;
  height: 398px;
}

.black-background__text
{
  font: 400 22px/1.2 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #FFFFFF;
  padding-top: 21px;
}

.wrapper_middle
{
  max-width: 1136px;
  margin: auto auto 155px auto;
  justify-content: space-between;
}

.three-points
{
  text-align: center;
  max-width: 366px;
}

.three-points-wrapper
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  text-align: center;
  margin: auto;
}

.registration-form
{
  margin: 0 auto;
  max-width: 480px;
  text-align: center;
  margin-bottom: 105px;
  position: relative;
  padding: 0 80px;
}

.registration-form.hidden
{
  display: none;
}

.registration-box
{
  position: relative;
  width: 100%;
  height: 64px;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 22px;
  box-sizing: border-box;
}

.form-header
{
  font: 500 26px/1.2 'Montserrat', sans-serif;
  margin-bottom: 33px;
}

.input::placeholder,  .registration-box
{
  font: 500 18px/22px 'Montserrat', sans-serif;
  color:  #999999;
}

::-webkit-input-placeholder
{
  color: #999;
}

.registration-box__select
{
  appearance: none;
}

.custom-select
{
  position: relative;
}

.select-option
{
  padding-top: 20px;
  margin-top: 30px;
  color:#444;
}

.topic-options
{
  margin-bottom: 20px;
}

.options
{
  border: 1px solid #C0C0C0;
  box-shadow: 0px 2.69776px 10.7911px rgba(66, 72, 78, 0.16);
  border-radius: 10.7911px;
}

.registration-arrow
{
  position: absolute;
  top: 30%;
  right: 6%;
  display: block;
  max-height: 14px;
  max-width: 24px;
  pointer-events: none;
}

.text-agreement
{
  font: 400 16px/22px 'Roboto Condensed', sans-serif;
  color: #000;
  opacity: 0.7;
}

.custom-checkbox
{
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.checkbox_hidden{
  -webkit-appearance: none;
  position: absolute;
}

.custom-checkbox .checkbox
{
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  position: relative;
  margin-right: 8px;
}

.custom-checkbox__input.error{
  color: red;
}


.custom-checkbox .checkmark
{
  position: absolute;
  top: 30%;
  left: 20%;
  max-width: 100%;
  display: none;
}

.custom-checkbox input:checked + .checkbox .checkmark
{
  display: block;
}

.custom-checkbox input:checked + .checkbox
{
  background-color:#EE58B6;
}

.registration-button
{
  width: 100%;
  max-width: 480px;
}

.frame
{
  width: 640px;
  height: 847px;
  background-color: #FFF;
  margin: auto;
  border-radius: 12px;
  position: relative;
  box-shadow: 0px 16px 48px rgba(60, 0, 61, 0.48);
}

.popup
{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.overlay
{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.overlay.open
{
  display: block;
}

.popup.open
{
  display: block;
}

.popup__container
{
  display: flex;
  width: 100%;
  height:100%;
}

.close_button
{
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  z-index: 2;
}

.input.error
{
  border-color: red;
}

.oops-form
{
width: 640px;
height: 847px;
display: none;
}

.oops-form.shown
{
  display: block;
}

.oops-header
{

text-align: center;
padding-top: 302px;
font: 500 36px/1 'Montserrat', sans-serif;

}








/*




@media screen and (min-width: 480px)  __________________________  480  _________________________
{

    .main-block__texts
    {
        min-width: 600px;
    }

    .main-block__button
    {
        margin-left: 50px;
    }



    .main-block
    {
        max-width: 480px;
        display: flex;
        margin: 0;
    }

    .main-picture
    {
        max-width: 120%;
        max-width: 120%;
    }

   .main-block__heading
   {
        padding-left: 50px;
        padding-top: 0;
        font-size: 400;
   }

    .main-block__button
    {
        margin-top: 16px;
        margin-bottom: 10px;
    }

    .main-block__text
    {
        padding-left: 50px;
    }

    .main-block__texts
    {
        max-width: 480px;
    }

}



@media screen and (min-width: 768px)     __________________________  768  _________________________
{
    .menu
    {
        margin: 0 25px;
    }

    .menu__logo
    {
        max-width: 150px;
        padding: 0 62px 0 0;
    }

    .main-block__heading
    {
        padding-left: 30px;
    }

    .main-block__heading
    {
        font: 600 50px/1.22 'Montserrat', sans-serif;
    }

    .main-block__text
    {
        font: 400 18px/1.2 'Roboto Condensed', sans-serif;
        padding-left: 30px;
        max-width: 360px;
    }

    .main-block__button
    {
        margin-left: 30px;
        margin-top: 46px;
    }

    .list-dot-disabled
    {
        padding-right: 65px;
    }

    .menu__item
    {
        font: 500 13px/1 'Montserrat', sans-serif;
    }

    .button__text
    {
        font: 600 13px/0.84 'Montserrat', sans-serif;
        padding: 15px;
    }

    .menu_wrapper
    {
        padding-top: 11px;
    }

    .main-block__texts
    {
        margin-top: 30px;
    }

    .three-points-wrapper
    {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        display: flex;
     text-align: center;
    margin: auto;
    }

    .black-background__icon
    {
        padding-top: 60px;
        max-height: 35px;
    }

    .black-background__text
    {
        font: 400 13px/1.2 'Roboto Condensed', sans-serif;
        padding-top: 10px;
    }

    .black-background__text_left
    {
        max-width: 250px;
        padding-left: 15px;
    }

    .notime-section__notime-text
    {
        margin-top: 85px;
        margin-right: 25px;
    }

    .section__heading
    {
        font: 500 38px/1.26 'Montserrat', sans-serif;
    }

    .section__text
    {
        font: 400 16px/1.35 'Roboto Condensed', sans-serif;
    }

    .deadline-section__deadline-text
    {
        margin-top: 105px;
        margin-left: 25px;
    }

    .section__heading_youcan
    {
        padding-top: 10px;
    }

    .block
    {
        width: 48%;
        height: 100%;
        display: inline-block;
    }

    .block__text
    {
        font: 400 16px/1 'Roboto Condensed', sans-serif;
        left: 15px;
        max-width: 245px;
        padding-bottom: 35px;
        display: inline-block;
    }

    .blocks
    {
        margin: 20px 25px 100px 25px;
    }

    .block__icon
    {
        display: inline-block;
        margin: 30px 0 0 0;
    }

    .main-picture
    {
        max-width: 70%;
        padding: 0px 0 5px 0;
        margin-right: 15px;
    }

    .main-block
    {
        padding-top: 30px;
    }

    .wrapper_middle
    {
        max-width: 950px;
        margin: 0 auto;
        display: block;
    }

    .black-background__text_right
    {
        max-width: 250px;
    }

    .black-background__text_center
    {
        max-width: 280px;
    }

    .black-background
    {
        height: 100%;
    }

    .notime-section
    {
        margin-top: 0;
    }

    .section__picture
    {
        max-width: 40%;
    }

    .section__picture-mind
    {
        max-width: 30%;
    }

    .list__last-item
    {
       padding-right: 20px;
    }

    .footer__logo
    {
        max-width: 13%;
    }
}






@media screen and (min-width: 1024px)  __________________________ 1024  _________________________
{
    .main-block__heading
    {
        font: 600 70px/1.22 'Montserrat', sans-serif;
    }

    .main-block__text
    {
        font: 400 20px/1.2 'Roboto Condensed', sans-serif;
    }

    .main-picture
    {
        max-width: 70%;
        padding: 0px 0 5px 0;
    }

    .menu__logo
    {
        padding: 0 62px 0 15px;
    }

    .list-dot-disabled
    {
        padding-right: 57px;
    }

    .menu
    {
        margin-right: 15px;
    }

    .main-picture
    {
        margin-right: 15px;
    }

    .main-block__button
    {
        margin: 36px 0 0 30px;
    }

    .main-block
    {
        margin: 10px 0 15px 0 ;
    }

    .main-block__texts
    {
        margin-top: 10px;
    }

    .wrapper_middle
    {
        max-width: 950px;
        margin: 0 auto;
        display: block;
    }

    .black-background__text
    {
        font: 400 18px/1.2 'Roboto Condensed', sans-serif;
        padding-top: 10px;
    }

    .black-background__text_left
    {
        max-width: 250px;
    }

    .black-background__text_right
    {
        max-width: 250px;
    }

    .black-background__text_center
    {
        max-width: 280px;
    }

    .three-points-wrapper
    {
        display: flex;
        justify-content: space-between;
        padding-bottom: 90px;
    }

    .black-background__icon
    {
        padding-top: 90px;
        max-height: 40px;
    }

    .black-background
    {
        height: 100%;
    }

    .notime-section
    {
        margin-top: 0;
    }

    .section__picture
    {
        max-width: 40%;
        margin-left: 20px;
    }

    .notime-section__notime-text
    {
        margin-top: 145px;
        margin-right: 25px;
    }

    .section__picture-mind
    {
        max-width: 30%;
    }

    .deadline-section__deadline-text
    {
        margin: 163px 0 0 25px;
    }

    .section__heading_youcan
    {
        padding-top: 18px;
    }

    .blocks
    {
        margin: 30px 30px 100px 30px;
    }

    .block__text
    {
        font: 400 16px/1 'Roboto Condensed', sans-serif;
        left: 30px;
        max-width: 255px;
    }

    .list__last-item
    {
        padding-right: 20px;
    }

    .footer__logo
    {
        max-width: 13%;
    }
}

@media screen and (min-width: 1024px)   __________________________ 1366 _________________________
{


.main-block
{
  max-width: 100%;
}

.main-picture
 {
  margin-right: 155px;
  max-width: 35%;
}

.menu__item {
  font: 500 16px/1 'Montserrat', sans-serif;
}

.menu__logo {
  max-width: 250px;
}

.main-block__texts {
  margin-top: 110px;
}

.main-block__heading {
  font: 600 80px/1.22 'Montserrat', sans-serif;
}

.block {
  width: 32%;
}


.send-form
{
  display: flex;
  max-height: 64px;
  position: relative;
  margin:52px 0 0 59px ;
}

.email-form
{
  width: 480px;
  display: flex;
  height: 100%;
  position: relative;
  box-sizing: border-box;
 margin: 0 53px 0 0;
}

.registration-box
{
  padding-left: 28px;
}

.button-form
{
  box-sizing: border-box;
  width: 480px;
  display: flex;
  position: relative;
  font: 500 18px/0.84 'Montserrat', sans-serif;
  justify-content: center;
}
}

*/